@if(cargandoContacto){
  <p>Cargando contacto...</p>
} @else if(!contacto) {
  <p>No se encontró el contacto</p>
} @else {
  <div class="contact-card">
    <h1>{{contacto!.firstName}} {{contacto!.lastName}}</h1>

    <div class="contact-info">
      <p>{{contacto.email}}</p>
      <p>{{contacto.number}}</p>
      @if (contacto.isFavorite) {
      <span class="material-icons favorite-star">star</span>
    } @else {
      <span class="material-icons favorite-star">star_border</span>
    }
  </div>

    <div class="actions">
      <button (click)="toggleFavorite()">
        @if (contacto.isFavorite) {
          Desmarcar favorito
        } @else {
          Marcar como favorito
        }
      </button>

      <a [routerLink]="['/contacts',idContacto(),'edit']">Editar</a>
      <button (click)="deleteContact()">Eliminar</button>
    </div>
  </div>
}
